name: Manual Update Data

on:
  workflow_dispatch:

jobs:
  crawl-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libraries

        run: pip install pandas selenium lxml html5lib PyGithub

      - name: Run Scraper
        env:
          # Truyền 3 bí mật vào cho Python
          HUST_USERNAME: ${{ secrets.HUST_USERNAME }}
          HUST_PASSWORD: ${{ secrets.HUST_PASSWORD }}
          GH_PAT: ${{ secrets.GH_PAT }}
        run: python script/crawl_data.py